
@{
    ViewBag.Title = "授权管理";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 d-flex" style="margin-top:10px;">
        <div class="card  text-center" style="width: 18rem;margin-right:10px;">
            <p style="color:aqua;font-size:48px;">
                <i class="icon ion-ios-contact-outline"></i>                
            </p>
            <div class="card-body">
                <h5 class="card-title">账户权限查询</h5>
                <p class="card-text">账户权限查询</p>
                <a href="/Accredit/Find" class="btn btn-primary">前往</a>
            </div>
        </div>
        <div class="card  text-center" style="width: 18rem;margin-right:10px;">
            <p style="color:aqua;font-size:48px;">
                <i class="icon ion-ios-contact-outline"></i>
                --
                <i class="icon ion-person-stalker"></i>
            </p>
            <div class="card-body">
                <h5 class="card-title">账户-角色授权</h5>
                <p class="card-text">创建账户-角色的关系</p>
                <a href="/Accredit/AccountRole" class="btn btn-primary">前往</a>
            </div>
        </div>
        <div class="card  text-center" style="width: 18rem;">
            <p style="color:aqua;font-size:48px;">
                <i class="icon ion-person-stalker"></i>
                --
                <i class="icon ion-android-list"></i>
            </p>
            <div class="card-body">
                <h5 class="card-title">角色-菜单授权</h5>
                <p class="card-text">创建角色-菜单的关系</p>
                <a href="/Accredit/RoleMenu" class="btn btn-primary">前往</a>
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>
